body{
    background-color: rgb(31, 40, 71);
    margin-left: 3em;
    margin-top: 0em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
    font-family: 'Pixel', sans-serif;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Pixel';
    src: url('/font/upheavtt.ttf') format('truetype');
}

#Titulo{
    /* border: 3px solid black; */
    text-align: center;
    font-size: 8em;
    padding: 0;
    height: 2em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

#nivelNombre{
    text-align: center;
    font-size: 3em;
    margin-top: -2.4em;
    margin-bottom: -0.5em;
}

.Tablero{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;    
    background-color: rgb(57, 81, 93);
    height: 60em;
    align-items: center;
}

#RedButton {
    z-index: 10;
    width: 12em;
    height: 6em;
    background-color: red;
    box-shadow: 0px 30px rgb(119, 3, 3);
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
    top: 10%;
    left: 7%;
    overflow: hidden;
    user-select: none;
}

#RedButton:hover {
    content: url('/img/prohibido.png');
}

#RedButton.clicked {
    box-shadow: none;
    background-color: rgb(197, 20, 20);
}

.Barrera1{
    width: 5em;
    height: 30em;
    padding: 0;
    background-color: rgb(206, 72, 72);
    position: absolute;
    margin-left: 35em;
    margin-top: -30em;
    border-radius: 0px 0px 10px 10px;
}

.Barrera2{
    width: 5em;
    height: 40em;
    padding: 0;
    background-color: rgb(206, 72, 72);
    position: absolute;
    margin-left: 60em;
    margin-top: 20em;
    border-radius: 10px 10px 0px 0px;
}

.Barrera3{
    width: 5em;
    height: 40em;
    padding: 0;
    background-color: rgb(206, 72, 72);
    position: absolute;
    margin-left: 85em;
    margin-top: -20em;
    border-radius: 0px 0px 10px 10px;
}

.Barrera4{
    width: 5em;
    height: 30em;
    padding: 0;
    background-color: rgb(206, 72, 72);
    position: absolute;
    margin-left: 110em;
    margin-top: 30em;
    border-radius: 10px 10px 0px 0px;
}

.Meta{
    width: 30em;
    height: 20em;
    position: absolute;
    background-color: rgb(130, 130, 130);
    margin-left: 120em;
    margin-top: 30em;
    border-radius: 20px;
}